.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	background-color: #071a2b;
}

nav.nav_1 {
	background-color: #071a2b;
}

nav.nav_2 {
	height: 50px;
	line-height: 50px;
}

nav.nav_3 {
	height: 50px;
	line-height: 50px;
	color: rgba(211, 227, 253, 0.7);
	background-color: rgba(22, 44, 70, 1.0);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

nav.nav_3 ul a{
	color: rgba(211, 227, 253, 0.7);
}

.progress {
	margin: 2px 0 0 0;
	height: 10px;
}
.progress .indeterminate {
	background-color: #f7d64f;
}
.progress-spacer {
	margin: 2px 0 0 0;
	height: 10px;
}

.left-col {
	color: rgba(211, 227, 253, 0.7);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	height: 900px;
	background-color: #0d2136;
}

.right-col {
	color: rgba(211, 227, 253, 0.7);
	height: 900px;
	background-color: #0d2136;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

footer.page-footer {
	background-color: #071a2b;
}

footer.page-footer .footer-copyright{
	background-color: #071a2b;
}
