.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	background-color: #071a2b;
}

nav.nav_1 {
	background-color: #071a2b;
}

.dropdown-content {
	position: relative;
	top: -64px;
}

nav.nav_2 {
	height: 50px;
	line-height: 50px;
}

nav.nav_3 {
	height: 50px;
	line-height: 50px;
	color: rgba(211, 227, 253, 0.7);
	background-color: rgba(22, 44, 70, 1.0);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

nav.nav_3 ul a{
	color: rgba(211, 227, 253, 0.7);
}

.progress {
	margin: 2px 0 0 0;
	height: 10px;
}
.progress .indeterminate {
	background-color: #f7d64f;
}
.progress-spacer {
	margin: 2px 0 0 0;
	height: 10px;
}

.row .col {
	padding: 0px;
}

.left-col {
	overflow-y: auto;
	color: rgba(211, 227, 253, 0.7);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	height: calc(100vh - 300px);
	max-height: calc(100vh - 300px);
	background-color: #0d2136;
	padding: 0px;
}

.right-col {
	overflow-y: auto;
	color: rgba(211, 227, 253, 0.7);
	height: calc(100vh - 300px);
	max-height: calc(100vh - 300px);
	background-color: #0d2136;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.select-item {
	padding:20px;
	border-top: 1px solid rgba(255, 255, 255, 0.0);
	border-bottom: 1px solid rgba(255, 255, 255, 0.0);
}

.select-item:hover {
	background-color: rgba(22, 44, 70, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.selected-item, .selected-item:hover {
	background-color: rgba(22, 44, 70, 1.0);
}

.message-item {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
	
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	
	border-radius: 25px;
	background-color: rgba(22, 44, 70, 1.0);
}

.document-snippet {
	
	color: #071a2b;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
	
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	
	border-radius: 25px;
	background-color: rgba(211, 227, 253, 0.7);
}

footer.page-footer {
	background-color: #071a2b;
	padding-top: 0;
}

footer.page-footer .footer-copyright{
	background-color: #071a2b;
}
